@media (max-width: 1200px) {

	/* Header */
	header .container { height: 640px; }
	body.inner header .container { height: 250px; }
		body.inner .slogan h1 { font-size: 50px; }

		.navbar { margin-left: 230px; width: 730px; }
	        .navbar li { margin-right: 24px; }
	        .navbar li a.btn { padding: 6px 20px !important }
	    body.inner .navbar,
	    .navbar.scrolled { width: 960px; }
        	.navbar.scrolled a.navbar-brand img { height: 46px; }

		.slogan {}
        	.slogan p { font-size: 22px; }
        

	/* How it Works */
	#howitworks h2 { font-size: 30px; height: 160px; width: 160px; }
	#howitworks ul {  }

	/* Why ScaleMonk */
	#whyscalemonk .container { height: 640px; }
		#whyscalemonk p {  }

	/* Partnerships */
	#partnerships .container {}
		#partnerships h2 {  }
		#partnerships .slick div img { max-width: 160px; }

	/* FAQ */
	#faq .container { height: 320px; }
		#faq h2 { line-height: 56px; margin-bottom: 36px; text-indent: -2px; }
		#faq #accordion .card-header button { font-size: 22px; }

	/* Careers */
	#careers .container { height: 320px; }
		#careers h2 { margin-bottom: 10px; }
		#careers p { margin-bottom: 25px; }
		#careers a.btn { font-size: 26px; padding: 10px 50px; }

	/* Footer */
	footer .container { height: 160px; }

}


@media (max-width: 991px) {

	/* THEME */
	p { font-size: 14px; line-height: 20px; }

	/* HEADINGS */
	h1 { font-size: 40px; }
	h2 { font-size: 50px; }

	/* Header */
	header .container { background-image: url(../img/bg_header_tablet.png); height: 480px; }
	body.inner header .container { height: 200px; }
		body.inner .slogan h1 { font-size: 42px; }

	.navbar,
	body.inner .navbar,
	.navbar.scrolled { margin-left: 0; position: fixed; width: 720px; }
        .navbar ul { padding-top: 20px; }
            .navbar li { margin-right: 0; padding: 0; }
            	.navbar li a { font-size: 16px; padding: 15px 0 !important; }
            	.navbar li .btn { margin-bottom: 20px; }

    .navbar a.navbar-brand { display: flex; margin-right: 30px; }
    	.navbar a.navbar-brand img { height: 46px; }

		.slogan { padding-top: 50px; }
        	.slogan p { font-size: 16px; line-height: 22px; }

	/* How it Works */
	#howitworks h2 { font-size: 24px; height: 120px; width: 120px; }
		#howitworks ul li img { height: 30px; }
		#howitworks ul li h3 { font-size: 30px; line-height: 30px; }

	/* Why ScaleMonk */
	#whyscalemonk .container { height: 460px; }
		#whyscalemonk p { font-size: 18px; }

	/* Partnerships */
	#partnerships .container { height: auto; background-position: 0 bottom; }
		#partnerships .slick div img { max-width: 120px; }
		#partnerships h2 { font-size: 30px; padding-top: 50px; }

		#partnerships .slick2 div p { font-size: 18px; line-height: 30px; margin-bottom: 16px; padding-left: 40px; }
		#partnerships .slick2 div span { font-size: 14px; padding-left: 40px; }
		#partnerships .slick-dots { padding-left: 40px; }
		#partnerships .slick-dots li,
		#partnerships .slick-dots li * { height: 10px; width: 10px; }
		#partnerships .slick-dots li button:before { border-width: 5px; height: 10px; width: 10px; }

	/* FAQ */
	#faq .container { height: 240px; }
		#faq h2 { line-height: 40px; margin-bottom: 10px; text-indent: -1px; }
		#faq #accordion .card-header button { font-size: 16px; padding: 10px 30px 10px 0; }
		#faq #accordion .card-header button:before { border-width: 5px; margin-top: -2px; }
		#faq #accordion .card-header button[aria-expanded="true"]:before { border-width: 5px; margin-top: -8px; }		

	/* Careers */
	#careers .container { height: 240px; }
		#careers h2 { margin-bottom: 5px; }
		#careers p { margin-bottom: 20px; }
		#careers a.btn { font-size: 21px; padding: 8px 40px; }

	/* Footer */
	footer .container { height: 120px; }

}

@media (max-width: 767px) {

	/* THEME */
	body { font-size: 12px; }

	p { font-size: 13px; line-height: 20px; }

	/* HEADINGS */
	h1 { font-size: 32px; }
	h2 { font-size: 32px; }
	h3 { font-size: 28px; }

	body.inner section h2 { font-size: 24px; }
	body.inner section h3 { font-size: 24px; }

	body.inner section { margin-bottom: 10px; }

	body.inner section p,
	body.inner section ul li { font-size: 12px; }
	body.inner section ul li { padding-bottom: 10px; }

	/* Header */
	header .container { height: 360px; }
	body.inner header .container { height: 150px; }
	body.inner .slogan h1 { font-size: 30px; }
		.navbar,
		body.inner .navbar,
		.navbar.scrolled { margin-left: 0; position: fixed; width: 540px; }
		.slogan { }
		.slogan p { font-size: 12px; line-height: 18px; }

	/* How it Works */
	#howitworks { top: -47px; padding-top: 47px; }
	#howitworks h2 { font-size: 17px; height: 90px; line-height: 19px; width: 90px; }
	#howitworks ul { }

	/* Why ScaleMonk */
	#whyscalemonk { top: -47px; padding-top: 47px; }
	#whyscalemonk .container { height: 378px; }
		#whyscalemonk p { font-size: 16px; }

	/* Partnerships */
	#partnerships { top: -47px; padding-top: 47px; padding-bottom: 0; }
	#partnerships .container { height: 410px; }
		#partnerships h2 { font-size: 34px; padding-top: 50px; }
		#partnerships .slick div img { max-width: 90px; }

		#partnerships .testimonials { padding-top: 40px; }
		#partnerships .square { height: 178px; }

		#partnerships .slick2 div p { font-size: 14px; line-height: 20px; padding-left: 20px; }
		#partnerships .slick2 div span { font-size: 12px; padding-left: 20px; }
		#partnerships .slick-dots { padding-left: 20px; }

	/* FAQ */
	#faq { padding-top: 20px; }
	#faq .container { height: 180px; }
		#faq h2 { line-height: 26px; margin-bottom: 4px; }
		#faq #accordion .card-header button { font-size: 12px; padding: 7px 30px 7px 0; }		
		#faq #accordion .card-body p { padding: 10px 0 0 0; }	

	/* Careers */
	#careers .container { height: 180px; }
		#careers p { margin-bottom: 15px; }
		#careers a.btn { font-size: 17px; padding: 5px 30px; }

	/* Footer */
	footer .container { height: 90px; }
}

@media (max-width: 576px) {

	/* GRID */
	.container { margin: 0; }

	/* LEGAL */
	.modal p { font-size: 14px; line-height: 22px; }

	/* THEME */
	body{ margin: auto; width: 360px; }

	p { font-size: 13px; line-height: 22px; }

	/* HEADINGS */
	h1 { font-size: 44px; }
	h2 { font-size: 30px; }
	h3 { font-size: 35px; }

	/* Header */
	header .container { background-image: url(../img/bg_header_mobile.png); height: 648px; background-position: center 50px; }
		header .container .h-100 { height: 400px !important; }
	body.inner header .container { background-image: url(../img/bg_header_inner_mobile.png); background-size: auto 250px; background-position: top right; height: auto; }
		body.inner header .container .h-100 { height: 100% !important; }
		body.inner header .container .h-100 .slogan { padding: 100px 0 40px; }

		.navbar,
		body.inner .navbar,
		.navbar.scrolled { margin-left: 0; position: fixed; width: 360px; }
		.navbar li a {}

		header .container .slogan p { font-size: 18px; line-height: 26px; }

	/* How it Works */
	#howitworks .container { background-image: url(../img/bg_howitworks_mobile.svg); height: auto; }
	#howitworks .container .row.justify-content-center { justify-content: start!important; }
	#howitworks h2 { font-size: 21px; height: 120px; line-height: 19px; width: 120px; }
	#howitworks ul { padding: 30px 0 0; }

	/* Why ScaleMonk */
	#whyscalemonk { top: 0; padding-top: 0; }
	#whyscalemonk .container { background-image: url(../img/bg_whyscalemonk_mobile.png); height: auto; padding-bottom: 60px; padding-top: 130px; }

	/* Partnerships */
	#partnerships { top: 0; padding-top: 0; }
	


	#partnerships .container { background-position: left -304px; height: 710px; }	
		#partnerships h2 {  }
		#partnerships .square { width: 178px; }
		#partnerships .slick div img { max-width: 120px; }
		#partnerships .slick2 div p { font-size: 18px; line-height: 20px; padding-left: 0; padding-top: 41px; }
		#partnerships .slick2 div span { font-size: 14px; padding-left: 0; }
		#partnerships .slick2 .slick-dotted.slick-slider { margin-bottom: 15px; }
		#partnerships .slick-dots { padding-left: 0; }
		

	/* FAQ */
	#faq {  }
	#faq .container { background-image: url(../img/bg_faq_mobile.svg); height: 286px; }
		#faq .container .row.justify-content-center { justify-content: start!important; }
		#faq h2 { line-height: 24px; margin-bottom: 10px; }
		#faq #accordion .card-header button { font-size: 18px; padding: 15px 30px 15px 0; }		
		#faq #accordion .card-body p { padding: 10px 0 0 0; }	

	/* Careers */
	#careers .container { background-image: url(../img/bg_careers_mobile.svg); background-position: bottom; height: 285px; }
		#careers p { margin-bottom: 15px; }
		#careers a.btn { font-size: 17px; padding: 5px 30px; }

	/* Footer */
	footer .container { background-image: url(../img/bg_footer_mobile.svg); height: 120px; }
		footer .logo { display: none; }
		footer .logo.mobile { display: block !important; }
		footer ul { text-align: right; }
		footer ul li a.btn { margin-top: 3px; padding: 3px 10px; }

}